<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://${localURL}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://${localURL}/static/css/docs.css" rel="stylesheet" media="screen">
    <title>
        投保单列表
    </title>
    <script src="http://${localURL}/static/js/jquery.js"></script>
    <script src="http://${localURL}/static/js/bootstrap.js"></script>
    <script src="http://${localURL}/static/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#btnSearch").click(function(){
                orderid = jQuery("#idOrderid").val();
                contactid = jQuery("#idContactid").val();
                searchOrder(contactid,orderid);
            });
        });

        function searchOrder(inCONTACTID,inORDERID){
            actionUrl ="http://${localURL}/orderList"+'?CONTACTID='+inCONTACTID+"&ORDERID="+inORDERID;
            window.location.href=actionUrl;
        }
        function showOrder(inContactid,inOrderid){
            actionUrl ="http://${localURL}/order/"+inContactid+'?orderid='+inOrderid;
            window.location.href=actionUrl;
        }
    </script>
##prepare the order info
<%!
import OrderClient
import json

import configData
from configData import getConfig

localURL = getConfig('SERVERINFO','serverIP','str')
print localURL
%>
</head>
<body>
<div class="bs-docs-example">
    <form class="form-search">
        <label class="label">TSR工号</label>
        <input id="idUsr" type="text" class="input-small search-query"/>
        <label class="label">客户编号</label>
        <input id="idContactid" type="text" class="input-small search-query" value="${contactid}"/>
        <label class="label">保单编号</label>
        <input id="idOrderid" type="text" class="input-small search-query" value="${orderid}"/>
        <label class="label">保单状态</label>
        <SELECT name="checkOrderStatus" id="idCheckOrderStatus" class="input-medium">
            <OPTION value="0">未审核</OPTION>
            <OPTION value="1" selected>已承保</OPTION>
            <OPTION value="2" selected>未承保</OPTION>
            <OPTION value="3" selected>退保</OPTION>
        </SELECT>
        <label class="label">开始日期</label>
        <input id="idStartDT" type="text" class="Wdate input-small search-query" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
        <label class="label">结束日期</label>
        <input id="idEndDT" type="text" class="Wdate input-small search-query" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
        <button id = "btnSearch" type="button" class="btn"><i class="icon-search"></i></button>
    </form>
</div>
<form id="formOrderList">
    <fieldset>
<%
if (contactid is not None)|(orderid is not None):
    localOrderInfoLst = OrderClient.getOrderInfoLst(contactid,orderid)
    #如果没有保单信息,直接无视
    if len(localOrderInfoLst["OrderInfoLst"])==0:
        localOrderInfoLst = None
else:
    localOrderInfoLst = None
    print 'none contactid and orderid'
%>
<%def name="layoutdata(inOrderInfoLst)">
        <div class="bs-docs-div">
    <table class="table table-hover table-condensed">
        % if inOrderInfoLst is not None:
        <tr>
            <th>操作</th>
            <th>保单编号</th>
            <th>创建人</th>
            <th>创建日期</th>
            <th>保单状态</th>
        </tr>
            <%
        orderInfoLst = inOrderInfoLst["OrderInfoLst"]

        if len(orderInfoLst) == 0:
            orderInfoLst = None
            %>
            %if orderInfoLst is not None:
                % for item in orderInfoLst:
                    <tr>
                        <td>
                            <% orderid = item['OrderId'] %>
                            <button type="button" class="btn" onclick="showOrder(${contactid},${orderid})"><i class="icon-edit"></i></button>
                        </td>
                        ${caller.body(item=item)}
                    </tr>
                % endfor
            %endif
        % endif
    </table>
        </div>
</%def>
<%call expr="layoutdata(localOrderInfoLst)" args="item">
    <td>${item["OrderId"]}</td>
    <td>${item["Crusr"]}</td>
    <td>${item["Crdt"]}</td>
    <td>${item["StatusDsc"]}</td>
</%call>
</fieldset>
</form>
</body>
</html>
