<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://${localURL}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://${localURL}/static/css/docs.css" rel="stylesheet" media="screen">
    <title>
        投保单
    </title>
    <script src="http://${localURL}/static/js/jquery.js"></script>
    <script src="http://${localURL}/static/js/bootstrap.js"></script>
    <script src="http://${localURL}/static/js/My97DatePicker/WdatePicker.js"></script>
    <script src="http://${localURL}/static/js/util.js"></script>
    <script src="http://${localURL}/static/js/localAddressList.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#PolicyInformation1_txtPolicyRelation").change(function(){
                //alert("change select");
                //change the data.
                //本人,和投保人一样;其它选项,清空
                if (jQuery("#PolicyInformation1_txtPolicyRelation").val() == '1')
                {
                    //TODO:性别如何带过来?省市区如何带过来?
                    jQuery("#BePolicyHolder_txtBeHolderName").val(jQuery("#PolicyInformation1_txtName").val());
                    jQuery("#BePolicyHolder_txtBeHolderBirthday").val(jQuery("#PolicyInformation1_txtBirthday").val());
                    jQuery("#BePolicyHolder_txtBeHolderOldYears").val(jQuery("#PolicyInformation1_txtHolderOldYears").val());
                    jQuery("#BePolicyHolder_ddlBeHolderProfessional").val(jQuery("#PolicyInformation1_ddlProfessional").val());
                    jQuery("#BePolicyHolder_txtBeHolderPhoneNumber").val(jQuery("#PolicyInformation1_txtHolderPhoneNumber").val());
                    jQuery("#BePolicyHolder_selectBeHolderCardType").val(jQuery("#PolicyInformation1_sHolderCardType").val());
                    jQuery("#BePolicyHolder_txtBeHolderCardNumber").val(jQuery("#PolicyInformation1_txtHolderCardNumber").val());
                    jQuery("#PolicyInformation1_txtBeHolderUsrHeight").val(jQuery("#PolicyInformation1_txtHolderUsrHeight").val());
                    jQuery("#PolicyInformation1_txtBeHolderUsrWeight").val(jQuery("#PolicyInformation1_txtHolderUsrWeight").val());
                    jQuery("#idPOLICYHOLDER_USR_ADDRESS").val(jQuery("#PolicyInformation1_txtHolderDetailAddress").val());
                    jQuery("#PolicyInformation1_txtBeHolderZip").val(jQuery("#PolicyInformation1_txtHolderZip").val());
                }
                else
                {
                    jQuery("#BePolicyHolder_txtBeHolderName").val("");
                    jQuery("#BePolicyHolder_txtBeHolderBirthday").val("");
                    jQuery("#BePolicyHolder_txtBeHolderOldYears").val("");
                    jQuery("#BePolicyHolder_ddlBeHolderProfessional").val("");
                    jQuery("#BePolicyHolder_txtBeHolderPhoneNumber").val("");
                    jQuery("#BePolicyHolder_selectBeHolderCardType").val("");
                    jQuery("#BePolicyHolder_txtBeHolderCardNumber").val("");
                    jQuery("#PolicyInformation1_txtBeHolderUsrHeight").val("");
                    jQuery("#PolicyInformation1_txtBeHolderUsrWeight").val("");
                    jQuery("#idPOLICYHOLDER_USR_ADDRESS").val("");
                    jQuery("#PolicyInformation1_txtBeHolderZip").val("");
                }
            });

            jQuery("#btnModify").click(function(){
                showPutOrder();
            });

            jQuery("#btnAdd").click(function(){
                showPostOrder();
            });

            jQuery("#btnCal").click(function(){
                insurancecodeid = jQuery("#idDdlProduct").val();
                securityplanid = jQuery("#idDdlPlan").val();
                premiumplanid = jQuery("#idDdlPlanFamily").val();
                showOrderCal(insurancecodeid,securityplanid,premiumplanid);
            });

            jQuery("#btnConfirmAdd").click(function(){
                //TODO: add button change status .
                //jQuery("#myModal").modal("hide");
                //prepare some data.

                //prepare radio button data:
                //jQuery("#PolicyInformation_txtSexMan").checked
                postOrder('${contactid}');
            });

            jQuery("#btnConfirmModify").click(function(){
                //TODO: add button change status .
                putOrder('${contactid}');
            });

            jQuery("#idRbtBeneficiaryLaw").click(function(){
                jQuery("#idBeneficiary").collapse('hide');
            });

            jQuery("#idRbtBeneficiaryJunfen").click(function(){
                jQuery("#idBeneficiary").collapse('show');
            });

            jQuery("#btnConfirmFix").click(function(){
                putFixOrder('${contactid}');
            });

            jQuery("#btnConfirmStatus").click(function(){
                putStatusOrder('${contactid}');
            });

            jQuery("#btnFix").click(function(){
                showFixOrder();
            });

            jQuery("#btnStatus").click(function(){
                showStatusOrder();
            });

            jQuery("#btnAddPolicy").click(function(){
                if (divPolicyholderUsrAStatus == 'hidden'){
                    jQuery("#divPolicyholderUsrA").collapse('show');
                }
                else
                {
                    if (divPolicyholderUsrBStatus == 'hidden'){
                        jQuery("#divPolicyholderUsrB").collapse('show');
                    }
                    else
                    {
                        if (divPolicyholderUsrCStatus == 'hidden'){
                            jQuery("#divPolicyholderUsrC").collapse('show');
                        }
                        else
                        {
                            alert("被保人不能再增加了!");
                        }
                    }
                }
            });

            jQuery("#btnDecreasePolicy").click(function(){
                if (divPolicyholderUsrCStatus == 'shown'){
                    jQuery("#divPolicyholderUsrC").collapse('hide');
                }
                else
                {
                    if (divPolicyholderUsrBStatus == 'shown'){
                        jQuery("#divPolicyholderUsrB").collapse('hide');
                    }
                    else
                    {
                        if (divPolicyholderUsrAStatus == 'shown'){
                            jQuery("#divPolicyholderUsrA").collapse('hide');
                        }
                        else
                        {
                            alert('被保人不能再减少了!');
                        }
                    }
                }
            });

            var divPolicyholderUsrAStatus = 'hidden';
            var divPolicyholderUsrBStatus = 'hidden';
            var divPolicyholderUsrCStatus = 'hidden';

            jQuery("#divPolicyholderUsrA").on('shown',function(){
                divPolicyholderUsrAStatus = 'shown';
            });

            jQuery("#divPolicyholderUsrA").on('hidden',function(){
                divPolicyholderUsrAStatus = 'hidden';
            });

            jQuery("#divPolicyholderUsrB").on('shown',function(){
                divPolicyholderUsrBStatus = 'shown';
            });

            jQuery("#divPolicyholderUsrB").on('hidden',function(){
                divPolicyholderUsrBStatus = 'hidden';
            });

            jQuery("#divPolicyholderUsrC").on('shown',function(){
                divPolicyholderUsrCStatus = 'shown';
            });

            jQuery("#divPolicyholderUsrC").on('hidden',function(){
                divPolicyholderUsrCStatus = 'hidden';
            });
        });

        function showOrderCal(inINSURANCECODE,inSECURITYPLAN,inPREMIUMPLAN){
            actionUrl ="http://${localURL}/orderProduct"+'?INSURANCECODE='+inINSURANCECODE+"&SECURITYPLAN="+inSECURITYPLAN+"&PREMIUMPLAN="+inPREMIUMPLAN;
            //window.location.href=actionUrl;
            window.open(actionUrl);
        }

        function showPostOrder(){
            if (check_submit())
            {
                jQuery("#myModal").modal("show");
            }
        }

        function showPutOrder(){
            if (check_submit())
            {
                jQuery("#myModalModify").modal("show");
            }
        }

        function showFixOrder(){
            jQuery("#myModalFix").modal("show");
        }

        function showStatusOrder(){
            jQuery("#myModalStatus").modal("show");
        }

        function postOrder(inContactid){
            if (check_submit())
            {
                document.getElementById("formOrder").action = "http://${localURL}/order/"+inContactid;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putOrder(inContactid){
            if (check_submit())
            {
                var inOrderid = jQuery("#lblOrderid").text();
                //alert(inOrderid);
                document.getElementById("formOrder").action = "http://${localURL}/orderUpdate/"+inContactid+"/"+inOrderid;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putFixOrder(inContactid){
            if (check_submit())
            {
                var inOrderid = jQuery("#lblOrderid").text();
                //alert(inOrderid);
                //TODO: we need get the status from config.
                // '1' status means fix order.
                document.getElementById("formOrder").action = "http://${localURL}/orderStatusUpdate/"+inContactid+"/"+inOrderid+"/"+'1';
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putStatusOrder(inContactid){
            if (check_submit())
            {
                var inOrderid = jQuery("#lblOrderid").text();
                var status = jQuery("#idDDLORDERSTATUS").val();
                //alert(status);
                document.getElementById("formOrder").action = "http://${localURL}/orderStatusUpdate/"+inContactid+"/"+inOrderid+"/"+status;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }


        function check_submit(){
            if(jQuery("#PolicyInformation1_txtName").val() ==""){
                alert("投保人姓名不能为空!");
                return false;
            }
            if(jQuery("#BePolicyHolder_txtBeHolderName").val() ==""){
                alert("被保人姓名不能为空!");
                return false;
            }
            if(jQuery("#PolicyInformation1_txtHolderCardNumber").val() ==""){
                alert("投保人证件不能为空!");
                return false;
            }
            if(jQuery("#BePolicyHolder_txtBeHolderCardNumber").val() ==""){
                alert("被保人证件不能为空!");
                return false;
            }
            if(jQuery("#PolicyInformation1_txtPayMode").val() ==""){
                alert("首期支付方式不能为空!");
                return false;
            }
            if(jQuery("#PolicyInformation1_txtNum").val() ==""){
                alert("购买份数不能为空!");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtBirthday").val() ==""){
                alert("投保人出生日期不能为空!");
                return false;
            }

            if(jQuery("#BePolicyHolder_txtBeHolderBirthday").val() ==""){
                alert("被保人出生日期不能为空!");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtHolderOldYears").val() ==""){
                alert("投保人年龄不能为空!");
                return false;
            }

            if(jQuery("#BePolicyHolder_txtBeHolderOldYears").val() ==""){
                alert("被保人年龄不能为空!");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtHolderPhoneNumber").val() ==""){
                alert("投保人联系电话不能为空!");
                return false;
            }

            if(jQuery("#BePolicyHolder_txtBeHolderPhoneNumber").val() ==""){
                alert("被保人联系电话不能为空!");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtHolderDetailAddress").val() ==""){
                alert("投保人联系地址不能为空!");
                return false;
            }

            if(jQuery("#idPOLICYHOLDER_USR_ADDRESS").val() ==""){
                alert("被保人联系地址不能为空!");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtHolderZip").val() ==""){
                alert("投保人邮编不能为空!");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtBeHolderZip").val() ==""){
                alert("被保人邮编不能为空!");
                return false;
            }

            var boolCheck=jQuery('input:radio[name="INSURANT_USR_SEX"]').is(":checked");

            if(!boolCheck){
                alert("投保人性别不能为空");
                return false;
            }

            var boolCheck=jQuery('input:radio[name="POLICYHOLDER_USR_SEX"]').is(":checked");

            if(!boolCheck){
                alert("被保人性别不能为空");
                return false;
            }

            var boolCheck=jQuery('input:radio[name="POLICYHOLDER_USR_SEXA"]').is(":checked");

            if(!boolCheck){
                alert("被保人性别不能为空");
                return false;
            }

            var boolCheck=jQuery('input:radio[name="POLICYHOLDER_USR_SEXB"]').is(":checked");

            if(!boolCheck){
                alert("被保人性别不能为空");
                return false;
            }

            var boolCheck=jQuery('input:radio[name="POLICYHOLDER_USR_SEXC"]').is(":checked");

            if(!boolCheck){
                alert("被保人性别不能为空");
                return false;
            }


            var boolCheck=jQuery('input:radio[name="rbtBeneficiarySex"]').is(":checked");

            if(!boolCheck){
                alert("受益人性别不能为空");
                return false;
            }

            if(jQuery("#PolicyInformation1_txtPayMode").val() ==""){
                alert("首期支付方式不能为空!");
                return false;
            }
            return true;
        }

        function pickedFuncPolicyInformation1_txtHolderOldYears(){
            var myDate = new Date();
            jQuery("#PolicyInformation1_txtHolderOldYears").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYears(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYears").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYearsA(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYearsA").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYearsB(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYearsB").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYearsC(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYearsC").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncLstbeneficiaries_txtBeHolderOldYears(){
            var myDate = new Date();
            jQuery("#Lstbeneficiaries_txtBeHolderOldYears").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        //prepare province,city,area
		var arrayCity= createArrayCity();

    </script>
<%doc>
    ##using Mako to create html file.
</%doc>

##prepare the order info
##if has orderid ,show the data.
##if no orderid, show a blank file.
<%!
import OrderClient
import json

import configObjData
from configObjData import getConfigPage

import staticDbModule
from staticDbModule import getDictStatic

import configData
from configData import getConfig
#print getConfig.__doc__

configPage = getConfigPage()

localURL = getConfig('SERVERINFO','serverIP','str')

import sys
reload(sys)
#convert the show code.
sys.setdefaultencoding('utf8')

import copy
%>
<%
if orderid is not None:
    localOrderInfo = OrderClient.getOrderInfoOrder(orderid)
else:
    localOrderInfo = None
%>
</head>

<body>

<form id="formOrder">

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"  href="#collapseOne">
                保单操作
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                % if orderid is not None:
                    <label class="label label-info" >保单编号:</label>
                    <label class="label label-info" id='lblOrderid'>${orderid}</label>
                    <%
                        if localOrderInfo is not None:
                            statusDsc = localOrderInfo["STATUSDSC"]
                        else:
                            statusDsc = None
                        #TODO: we need get the status dsc.from the config data.
                    %>
                    % if statusDsc is not None:
                        <label class="label label-info">保单状态:</label>
                        <label class="label label-info" id='lblOrderStatus'>${statusDsc}</label>
                    %endif
                %endif
                <button type="button" class="btn btn-primary btn-small" id="btnAdd">新增</button>
                % if orderid is not None:
                <button  type="button" class="btn btn-primary btn-small" id="btnModify">修改</button>
                <button type="button" class="btn btn-primary btn-small" id="btnStatus">审核</button>
                <button type="button" class="btn btn-primary btn-small" id="btnFix">承保</button>
                % else:
                <button  type="button" class="btn btn-primary btn-small" id="btnModify" disabled="true" >修改</button>
                <button type="button" class="btn btn-primary btn-small" id="btnStatus" disabled="true" >审核</button>
                <button type="button" class="btn btn-primary btn-small" id="btnFix" disabled="true" >承保</button>
                %endif

            </div>
        </div>
    </div>

    <!-- Modal Add -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">确认操作?</h3>
        </div>
        <div class="modal-body">
            <p>点击确认后数据将永久保存！</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmAdd" >确认</button>
        </div>
    </div>

    <!-- Modal Modify -->
    <div id="myModalModify" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalModifyLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalModifyLabel">确认操作?</h3>
        </div>
        <div class="modal-body">
            <p>点击确认后数据将永久保存！</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmModify" >确认</button>
        </div>
    </div>

    <!-- Modal Fix -->
    <div id="myModalFix" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalFixLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalFixLabel">保单承保</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">承保单号</label>
                    </td>
                    <td>
                        <%
                            if localOrderInfo is not None:
                                insuranceid = localOrderInfo["INSURANCEID"]
                            else:
                                insuranceid = None
                        %>
                        %if insuranceid is not None:
                            <input id="idINSURANCEID" name="INSURANCEID" type="text" value="${insuranceid}">
                        %else:
                            <input id="idINSURANCEID" name="INSURANCEID" type="text">
                        %endif
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmFix" >保单承保</button>
        </div>
    </div>

    <!-- Modal Status -->
    <div id="myModalStatus" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalStatusLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalStatusLabel">保单审核</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <%
                        item = configPage["SingleControl"]["OrderStatus"]
                    %>
                    <td>
                        <${item["titleType"]} class="${item["titleCss"]}">${item["titleText"]}</${item["titleType"]}>
                    </td>
                    <td>
                    <%
                        dataDict = getDictStatic(item["dataSourceId"])
                    %>
                    <${item["dataType"]} name=${item["dataName"]} id=${item["dataID"]}  class="${item["dataCss"]}">
                        %for selectItem in dataDict:
                            <%
                                selectItemData = dataDict[selectItem]
                                print selectItemData
                            %>
                            %if selectItemData["value"] ==  realDataValue:
                                <${item["dataTitleType"]} value="${selectItemData["value"]}" selected>${selectItemData["text"]}</${item["dataTitleType"]}>
                            %else:
                                <${item["dataTitleType"]} value="${selectItemData["value"]}">${selectItemData["text"]}</${item["dataTitleType"]}>
                            %endif
                        %endfor
                    </${item["dataType"]}>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmStatus" >确认</button>
        </div>
    </div>

    %if configPage.as_bool('hasInsurantUsr'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                投保人信息
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <%
                        configPageInsurantUsr = configPage['InsurantUsr']
                        configUsing =copy.deepcopy(configPageInsurantUsr)
                    %>
                    <%namespace name="comp" file="components.html" />
                    ${comp.layoutControl(configItem=configUsing,dataItem = localOrderInfo)}

                </table>
            </div>
    </div>
    </div>
    %endif

    %if configPage.as_bool('hasPolicyholderUsr'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                被保人信息
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <tr>
                        <td>
                            <input type="button" class="btn" id="btnAddPolicy" value="添加被保人" />
                            <input type="button" class="btn" id="btnDecreasePolicy" value="减少被保人" />
                        </td>
                    </tr>
                </table>
                <table class="table table-condensed">
                    ##根据被保人的实际情况,决定显示多少个被保人，需要在载入的时候判断.
                    <%
                        configPagePolicyholderUsr = configPage['PolicyholderUsr']
                        configUsing =copy.deepcopy(configPagePolicyholderUsr)
                    %>
                    ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                </table>

                <div id="divPolicyholderUsrA" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-condensed">
                            <%
                            configPagePolicyholderUsrA = configPage['PolicyholderUsrA']
                            configUsing =copy.deepcopy(configPagePolicyholderUsrA)
                            %>
                            ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                        </table>
                    </div>
                </div>

                <div id="divPolicyholderUsrB" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-condensed">
                            <%
                            configPagePolicyholderUsrB = configPage['PolicyholderUsrB']
                            configUsing =copy.deepcopy(configPagePolicyholderUsrB)
                            %>
                            ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                        </table>
                    </div>
                </div>

                <div id="divPolicyholderUsrC" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-condensed">
                            <%
                            configPagePolicyholderUsrC = configPage['PolicyholderUsrC']
                            configUsing =copy.deepcopy(configPagePolicyholderUsrC)
                            %>
                            ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    %endif

    %if configPage.as_bool('hasBeneficiaryUsr'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse">
                受益人信息
            </a>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="radio inline">
                            <input id="idRbtBeneficiaryLaw" name="rbtBeneficiary" value="1" type="radio" checked /><label class="label">法定</label>
                        </label>
                        <label class="radio inline">
                            <input id="idRbtBeneficiaryJunfen" name="rbtBeneficiary" value="2" type="radio" /><label class="label">指定</label>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div id="idBeneficiary" class="accordion-body collapse">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <tr>
                        <td>
                            <input type="button" class="btn" id="btnAddBeneficiary" value="添加受益人" />
                            <input type="button" class="btn" id="btnDecreaseBeneficiary" value="减少受益人" />
                        </td>
                    </tr>
                </table>
                <table class="table table-condensed">
                    <%
                    configBeneficiaryUsr = configPage['BeneficiaryUsr']
                    configUsing =copy.deepcopy(configBeneficiaryUsr)
                    %>
                    ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                </table>
            </div>
        </div>
    </div>
    %endif

    %if configPage.as_bool('hasInsurantPlan'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
                保险计划
            </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <tr>
                        <td colspan="3">
                            <button type="button" class="btn btn-primary btn-small" id="btnCal">保费试算</button>
                        </td>
                    </tr>
                    <%
                    configPageInsurantPlan = configPage['InsurantPlan']
                    configUsing =copy.deepcopy(configPageInsurantPlan)
                    %>
                    ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                </table>
            </div>
        </div>
    </div>
    %endif

    %if configPage.as_bool('hasDelivery'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseSix">
                保单配送
            </a>
        </div>
        <div id="collapseSix" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <%
                    configPagedelivery = configPage['delivery']
                    configUsing =copy.deepcopy(configPagedelivery)
                    %>
                    ##${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                </table>
            </div>
        </div>
    </div>
    %endif

</form>
</body>
</html>

