<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://${localURL}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://${localURL}/static/css/docs.css" rel="stylesheet" media="screen">
    <title>
        投保单
    </title>
    <script src="http://${localURL}/static/js/jquery.js"></script>
    <script src="http://${localURL}/static/js/bootstrap.js"></script>
    <script src="http://${localURL}/static/js/My97DatePicker/WdatePicker.js"></script>
    <script src="http://${localURL}/static/js/util.js"></script>
    <script src="http://${localURL}/static/js/localAddressList.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#btnModify").click(function(){
                showPutOrder();
            });

            jQuery("#btnAdd").click(function(){
                showPostOrder();
            });

            jQuery("#btnCal").click(function(){
                insurancecodeid = jQuery("#idDdlProduct").val();
                securityplanid = jQuery("#idDdlPlan").val();
                premiumplanid = jQuery("#idDdlPlanFamily").val();
                showOrderCal(insurancecodeid,securityplanid,premiumplanid);
            });

            jQuery("#btnConfirmAdd").click(function(){
                //TODO: add button change status .
                //jQuery("#myModal").modal("hide");
                postOrder('${contactid}');
            });

            jQuery("#btnConfirmModify").click(function(){
                //TODO: add button change status .
                putOrder('${contactid}');
            });

            jQuery("#idRbtBeneficiaryLaw").click(function(){
                jQuery("#idBeneficiary").collapse('hide');
            });

            jQuery("#idRbtBeneficiaryJunfen").click(function(){
                jQuery("#idBeneficiary").collapse('show');
            });

            jQuery("#btnConfirmFix").click(function(){
                putFixOrder('${contactid}');
            });

            jQuery("#btnFix").click(function(){
                showFixOrder();
            });

            jQuery("#btnQA").click(function(){
                showQAOrder();
            });

            jQuery("#btnClose").click(function(){
                showCloseOrder();
            });
            jQuery("#btnMoney").click(function(){
                showMoneyOrder();
            });

            jQuery("#btnStatus").click(function(){
                showStatusOrder();
            });

            jQuery("#btnAddPolicy").click(function(){
                jQuery("#divPolicyholderUsrA").collapse('show');
            });

            jQuery("#divPolicyholderUsrA").on('shown',function(){
                alert("show");
            });
        });

        function showOrderCal(inINSURANCECODE,inSECURITYPLAN,inPREMIUMPLAN){
            actionUrl ="http://${localURL}/orderProduct"+'?INSURANCECODE='+inINSURANCECODE+"&SECURITYPLAN="+inSECURITYPLAN+"&PREMIUMPLAN="+inPREMIUMPLAN;
            //window.location.href=actionUrl;
            window.open(actionUrl);
        }

        function showPostOrder(){
            if (check_submit())
            {
                jQuery("#myModal").modal("show");
            }
        }

        function showPutOrder(){
            if (check_submit())
            {
                jQuery("#myModalModify").modal("show");
            }
        }

        function showFixOrder(){
            jQuery("#myModalFix").modal("show");
        }

        function showQAOrder(){
            jQuery("#myModalQA").modal("show");
        }

        function showCloseOrder(){
            jQuery("#myModalClose").modal("show");
        }
        function showMoneyOrder(){
            jQuery("#myModalMoney").modal("show");
        }

        function showStatusOrder(){
            jQuery("#myModalStatus").modal("show");
        }

        function postOrder(inContactid){
            if (check_submit())
            {
                document.getElementById("formOrder").action = "http://${localURL}/order/"+inContactid;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putOrder(inContactid){
            if (check_submit())
            {
                inOrderid = $("lblOrderid").title;
                document.getElementById("formOrder").action = "http://${localURL}/orderUpdate/"+inContactid+"/"+inOrderid;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putFixOrder(inContactid){
            if (check_submit())
            {
                inOrderid = $("lblOrderid").title;
                // '3' status means fix order.
                document.getElementById("formOrder").action = "http://${localURL}/orderStatusUpdate/"+inContactid+"/"+inOrderid+"/"+'3';
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function $(str){
            return (document.getElementById(str));
        }

        function check_submit(){
            if($("PolicyInformation1_txtName").value ==""){
                alert("投保人姓名不能为空!");
                return false;
            }
            if($("BePolicyHolder_txtBeHolderName").value ==""){
                alert("被保人姓名不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtHolderCardNumber").value ==""){
                alert("投保人证件不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtHolderCardNumber").value ==""){
                alert("投保人证件不能为空!");
                return false;
            }
            if($("BePolicyHolder_txtBeHolderCardNumber").value ==""){
                alert("被保人证件不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtPayMode").value ==""){
                alert("首期支付方式不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtNum").value ==""){
                alert("购买份数不能为空!");
                return false;
            }
            return true;
        }

        function showDiv(divId){
            document.getElementById(divId).style.display="";
            //alert(document.getElementById("div").style.display)
        }
        function hiddenDiv(divId){
            document.getElementById(divId).style.display="none";
            //alert(document.getElementById("div").style.display)
        }

		var arrayCity= createArrayCity();

    </script>
<%doc>
    ##test code.
    ## this is a comment.test for lookup.
    <% x = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 0 ]%>
    % for elem in x:
    element: ${elem}
    % endfor
</%doc>

##prepare the order info
##if has orderid ,show the data.
##if no orderid, show a blank file.
<%!
import OrderClient
import json

import configObjData
from configObjData import getConfigPage
#print getConfigPage.__doc__

import configData
from configData import getConfig
#print getConfig.__doc__

configPage = getConfigPage()
localURL = getConfig('SERVERINFO','serverIP','str')

import sys
reload(sys)
sys.setdefaultencoding('utf8')

import copy
%>
<%
if orderid is not None:
    localOrderInfo = OrderClient.getOrderInfoOrder(orderid)
else:
    localOrderInfo = None
%>
</head>

<body>

<form id="formOrder">

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"  href="#collapseOne">
                保单操作
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                % if orderid is not None:
                <label class="label label-info" id='lblOrderid' title="${orderid}">保单编号: ${orderid}</label>
                ##% if status is not None:
                ##<label class="label label-info" id='lblOrderStatus' title="${status}">保单状态: ${status}</label>
                ##%endif
                %endif
                <button type="button" class="btn btn-primary btn-small" id="btnAdd">新增</button>
                % if orderid is not None:
                <button  type="button" class="btn btn-primary btn-small" id="btnModify">修改</button>
                <button type="button" class="btn btn-primary btn-small" id="btnStatus">审核</button>
                <button type="button" class="btn btn-primary btn-small" id="btnFix">承保</button>
                <button type="button" class="btn btn-primary btn-small" id="btnQA">质检</button>
                <button type="button" class="btn btn-primary btn-small" id="btnMoney">收款</button>
                <button type="button" class="btn btn-primary btn-small" id="btnClose">退保</button>
                % else:
                <button  type="button" class="btn btn-primary btn-small" id="btnModify" disabled="true" >修改</button>
                <button type="button" class="btn btn-primary btn-small" id="btnStatus" disabled="true" >审核</button>
                <button type="button" class="btn btn-primary btn-small" id="btnFix" disabled="true" >承保</button>
                <button type="button" class="btn btn-primary btn-small" id="btnQA" disabled="true" >质检</button>
                <button type="button" class="btn btn-primary btn-small" id="btnMoney" disabled="true" >收款</button>
                <button type="button" class="btn btn-primary btn-small" id="btnClose" disabled="true" >退保</button>
                %endif

            </div>
        </div>
    </div>

    <!-- Modal Add -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">确认操作?</h3>
        </div>
        <div class="modal-body">
            <p>点击确认后数据将永久保存！</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmAdd" >确认</button>
        </div>
    </div>

    <!-- Modal Modify -->
    <div id="myModalModify" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalModifyLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalModifyLabel">确认操作?</h3>
        </div>
        <div class="modal-body">
            <p>点击确认后数据将永久保存！</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmModify" >确认</button>
        </div>
    </div>

    <!-- Modal Fix -->
    <div id="myModalFix" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalFixLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalFixLabel">保单承保</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">承保单号</label>
                    </td>
                    <td>
                        ##<input id="idINSURANCEID" name="INSURANCEID" type="text" value="${insuranceid}">
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmFix" >保单承保</button>
        </div>
    </div>

    <!-- Modal QA -->
    <div id="myModalQA" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalQALabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalQALabel">保单质检</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">录音编号</label>
                    </td>
                    <td>
                        <input id="idRECORDID" name="RECORDID" type="text" >
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmQA" >保单质检</button>
        </div>
    </div>

    <!-- Modal Money -->
    <div id="myModalMoney" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalMoneyLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalMoneyLabel">保单收款</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">收款信息</label>
                    </td>
                    <td>
                        <input id="idMoneyinfo" name="moneyinfo" type="text" >
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmMoney" >收款</button>
        </div>
    </div>

    <!-- Modal Close -->
    <div id="myModalClose" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalCloseLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalCloseLabel">保单退保</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">退保原因</label>
                    </td>
                    <td>
                        <input id="idCloseOrder" name="closeOrder" type="text" >
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmClose" >退保</button>
        </div>
    </div>

    <!-- Modal Status -->
    <div id="myModalStatus" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalStatusLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalStatusLabel">保单审核</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">保单状态</label>
                    </td>
                    <td>
                        <SELECT name="checkOrderStatus" id="idCheckOrderStatus" class="input-medium">
                            <OPTION value="0">未审核</OPTION>
                            <OPTION value="1" selected>已承保</OPTION>
                            <OPTION value="2" selected>未承保</OPTION>
                            <OPTION value="3" selected>退保</OPTION>
                        </SELECT>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmStatus" >确认</button>
        </div>
    </div>


<%def name="layoutdata()">
    %if configPage.as_bool('hasInsurantUsr'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                投保人信息
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <%
                        configPageInsurantUsr = configPage['InsurantUsr']
                        configUsing =copy.deepcopy(configPageInsurantUsr)
                    %>
                    ${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                </table>
            </div>
    </div>
    </div>
    %endif

    %if configPage.as_bool('hasPolicyholderUsr'):
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                被保人信息
            </a>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <input type="button" class="btn" id="btnAddPolicy" value="添加被保人" />
                        <button class="btn" id="btnDelPolicy">减少被保人</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <%
                        configPagePolicyholderUsr = configPage['PolicyholderUsr']
                        configUsing =copy.deepcopy(configPagePolicyholderUsr)
                    %>
                    ${caller.body(configItem=configUsing,dataItem = localOrderInfo)}
                </table>
            </div>
        </div>

        <div id="divPolicyholderUsrA" class="accordion-body collapse">
            <div class="accordion-inner">
                gogo
            </div>
        </div>

        <div id="divPolicyholderUsrB" class="accordion-body collapse">
            <div class="accordion-inner">
                qq
            </div>
        </div>

    </div>
    %endif
</%def>



<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle">
            受益人信息
        </a>
        <table class="table table-condensed">
            <tr>
                <td>
                    <label class="radio inline">
                        <input id="idRbtBeneficiaryLaw" name="rbtBeneficiary" value="1" type="radio" checked /><label class="label">法定</label>
                    </label>
                    <label class="radio inline">
                        <input id="idRbtBeneficiaryJunfen" name="rbtBeneficiary" value="2" type="radio" /><label class="label">指定</label>
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div id="idBeneficiary" class="accordion-body collapse">
        <div class="accordion-inner">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">与被保人关系</label>
                    </td>
                    <td>
                        <select name="BeneficiaryCatId" id="idBeneficiaryCatId" class="input-small">
                            <option value="1" selected="selected">本人</option>
                            <option value="2">家属</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label label-important">姓名</label>
                    </td>
                    <td>
                        <input name="Lstbeneficiaries_NAME" id="Lstbeneficiaries_txtBeHolderName" type="text" class="input-mini"/>
                    </td>
                    <td>
                        <label class="label">性别</label>
                    </td>
                    <td>
                        <label class="radio inline">
                            <input name="rbtBeneficiarySexMan" id="Lstbeneficiaries_rbtBeHolderSexMan" checked type="radio"/><label class="label">男</label>
                        </label>
                        <label class="radio inline">
                            <input name="rbtBeneficiarySexMan" id="Lstbeneficiaries_rbtBeHolderSexWoman" type="radio"/><label class="label">女</label>
                        </label>
                    </td>
                    <td>
                        <label class="label">出生日期</label>
                    </td>
                    <td>
                        <input name="Lstbeneficiaries_BIRTHDAY" id="Lstbeneficiaries_txtBeHolderBirthday" type="text" class="Wdate input-medium" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">年龄</label>
                    </td>
                    <td>
                        <input name="Lstbeneficiaries_AGE" id="Lstbeneficiaries_txtBeHolderOldYears" type="text" class="input-mini"/>
                    </td>
                    <td>
                        <label class="label">联系电话</label>
                    </td>
                    <td>
                        <input name="Lstbeneficiaries_PHONE" id="Lstbeneficiaries_txtBeHolderPhoneNumber"   type="text" class="input-medium"/>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label class="label">证件类型</label>
                    </td>
                    <td>
                        <select name="Lstbeneficiaries_IDCARDTYPE" id="Lstbeneficiaries_selectBeHolderCardType" class="input-medium">
                            <option value="1" selected="selected">身份证</option>
                            <option value="2">军官证</option>
                        </select>
                    </td>
                    <td>
                        <label class="label label-important">证件号码</label>
                    </td>
                    <td>
                        <input name="Lstbeneficiaries_IDCARDNO" id="Lstbeneficiaries_txtBeHolderCardNumber" type="text" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
            保险计划
        </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-small" id="btnCal">保费试算</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">保单产品</label>
                    </td>
                    <td>
                        <SELECT id="idDdlProduct" name="ddlProduct" class="input-large">
                            <OPTION value="001" selected>健行无忧意外伤害保险-A款</OPTION>
                            <OPTION value="002">健行无忧意外伤害保险-B款</OPTION>
                        </SELECT>
                    </td>
                    <td>
                        <label class="label">保单计划</label>
                    </td>
                    <td>
                        <SELECT id="idDdlPlan" name="ddlPlan" class="input-large">
                            <OPTION value="0" selected>标准计划</OPTION>
                            <OPTION value="1">经典计划</OPTION>
                            <OPTION value="2">卓越计划</OPTION>
                            <OPTION value="3">尊享计划</OPTION>
                            <OPTION value="4">未成年人计划</OPTION>
                        </SELECT>
                    </td>
                    <td>
                        <label class="label">保单家庭计划</label>
                    </td>
                    <td>
                        <SELECT id="idDdlPlanFamily" name="ddlPlanFamily" class="input-large">
                            <OPTION value="0" selected>个人计划</OPTION>
                            <OPTION value="1">双人计划</OPTION>
                            <OPTION value="2">亲子计划</OPTION>
                            <OPTION value="3">家庭计划</OPTION>
                        </SELECT>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label label-important">首期支付方式</label>
                    </td>
                    <td>
                        <SELECT name="PAYMENTSTATUS" id="PolicyInformation1_txtPayMode" class="input-medium">
                            <OPTION value="0" selected>信用卡刷</OPTION>
                            <OPTION value="1">转账</OPTION>
                        </SELECT>
                    </td>
                    <td>
                        <label class="label">续期支付方式</label>
                    </td>
                    <td>
                        <SELECT name="DMPAYMODE" id="PolicyInformation1_txtPayContinuationPayMode" class="input-medium">
                            <OPTION value="0" selected>信用卡刷</OPTION>
                            <OPTION value="1">转账</OPTION>
                        </SELECT>
                    </td>
                    <td>
                        <label class="label">开户银行</label>
                    </td>
                    <td>
                        <SELECT name="txtPayBank" id="PolicyInformation1_txtPayBank" class="input-medium">
                            <OPTION value="0" selected>建设银行</OPTION>
                        </SELECT>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">帐号</label>
                    </td>
                    <td>
                        ##<input name="DMPAYBANK" id="PolicyInformation1_txtBankCardNum" type="text" class="input-medium" value="${dmpaybank}"/>
                    </td>
                    <td>
                        <label class="label">续期帐号</label>
                    </td>
                    <td>
                        <input name="DMPAYBANKEXT" id="PolicyInformation1_txtBankCardNumExt" type="text" class="input-medium"/>
                    </td>
                    <td>
                        <label class="label label-important">购买份数</label>
                    </td>
                    <td>
                        ##<input name="PURCHASECOUNT" id="PolicyInformation1_txtNum"   type="text" class="input-mini" value="${purchasecount}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">续费年限</label>
                    </td>
                    <td>
                        <SELECT name="DMCONTINUATIONYEARS" id="PolicyInformation1_txtContinuationYears" class="input-medium">
                            <OPTION value="0" selected>5年</OPTION>
                            <OPTION value="1">10年</OPTION>
                        </SELECT>
                    </td>
                    <td>
                        <label class="label">缴费方式</label>
                    </td>
                    <td>
                        <SELECT name="DMPAYTYPE" id="PolicyInformation1_txtPayType" class="input-medium">
                            <OPTION value="0" selected>年缴</OPTION>
                            <OPTION value="1">月缴</OPTION>
                        </SELECT>
                    </td>
                    <td>
                        <label class="label">保险期间</label>
                    </td>
                    <td>
                        <SELECT name="DMPOLICYDATES" id="PolicyInformation1_txtPolicyDates" class="input-medium">
                            <OPTION value="0" selected>10年</OPTION>
                            <OPTION value="1">30年</OPTION>
                        </SELECT>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseSix">
            保单配送
        </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <label class="label">配送时间</label>
                    </td>
                    <td>
                        <input name="PolicyDistribution_txtDistributionTime" id="idPolicyDistribution_txtDistributionTime" type="text" class="Wdate input-medium" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                    </td>
                    <td>
                        <label class="label">配送省市区</label>
                    </td>
                    <td>
                        <select id="shengDel" name="shengDel" onchange="changevalCityDel(document.getElementById('shiDel'),this.value);" class="input-small"></select>
                        <select id="shiDel" name="shiDel" onchange="changevalCityDel(document.getElementById('xianDel'),this.value);" class="input-small"></select>
                        <select id="xianDel" name="xianDel" class="input-small"></select>
                        <script type="text/javascript" language="javascript">
                            changevalCityDel(document.getElementById("shengDel"),0,1);
                        </script>
                    </td>
                    <td>
                        <label class="label">详细地址</label>
                    </td>
                    <td>
                        ##<input id="PolicyDistribution_txtDistribution" type="text" name="txtPolicyDistribution" class="input-medium" placeholder="配送详细地址"  value="${txtPolicyDistribution}"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<%call expr="layoutdata()" args="configItem,dataItem">
<%
itemCount = configItem.as_int('itemCount')
rowNumber = configItem.as_int( 'rowNumber')
stepLine = int((itemCount+rowNumber-1)/rowNumber)
configItem.pop('itemCount')
configItem.pop('rowNumber')
%>
%for i in range(stepLine):
<%
print 'i='+str(i)

#go to last line:
if i!=(stepLine-1):
    stepRow = rowNumber
else:
    #last line:
    if itemCount%rowNumber == 0:
        stepRow = rowNumber
    else:
        stepRow = itemCount%rowNumber
print 'stepRow='+str(stepRow)

#start from 0.
j = 0
%>
<tr>
    %for j in range(stepRow):
    <%
    print 'j='+str(j)
    %>
        %for member in configItem:
            <%
            print 'member='+member
            item=configItem[member]
            %>
            %if "titleType" in item:
                <td>
                    <${item["titleType"]} class="${item["titleCss"]}">${item["titleText"]}</${item["titleType"]}>
                </td>
                <td>
                    <%
                    if "dataName" in item:
                        dataValueName = item["dataName"]
                        if localOrderInfo is not None:
                            realDataValue = dataItem[dataValueName]
                        else:
                            realDataValue = ''
                    %>
                    %if item["dataType"] == 'input':
                        %if item["dataShowType"] == 'text':
                            %if "placeholder" in item:
                                <${item["dataType"]} name=${item["dataName"]} id=${item["dataID"]} type = ${item["dataShowType"]} class="${item["dataCss"]}" value="${realDataValue}" placeholder="${item["placeholder"]}"/>
                            %else:
                                <${item["dataType"]} name=${item["dataName"]} id=${item["dataID"]} type = ${item["dataShowType"]} class="${item["dataCss"]}" value="${realDataValue}"/>
                            %endif
                        %elif item["dataShowType"] == 'textDate':
                            <${item["dataType"]} name=${item["dataName"]} id=${item["dataID"]} type = ${item["dataRealShowType"]} class="${item["dataCss"]}" onclick="${item["onClick"]}"/>
                        %elif item["dataShowType"] == 'radio':
                            %for radioItem in item["radio"]:
                                <%
                                    radioItemData = item["radio"][radioItem]
                                %>
                                <${radioItemData["titleType"]} class="${radioItemData["titleCss"]}">
                                    <${item["dataType"]} name=${item["dataName"]} id=${radioItemData["inDataID"]} type = "${item["dataShowType"]}"/>
                                        <${radioItemData["inDataType"]} class="${radioItemData["inDataCss"]}"> ${radioItemData["inDataText"]}</${radioItemData["inDataType"]}>
                                </${radioItemData["titleType"]}>
                            %endfor
                        %endif
                    %elif item["dataType"] == 'select':
                        %if item["dataShowType"] == 'selectSingle':
                            <${item["dataType"]} name=${item["dataName"]} id=${item["dataID"]}  class="${item["dataCss"]}">
                            %for selectItem in item["select"]:
                                <%
                                    selectItemData = item["select"][selectItem]
                                %>
                                <${selectItemData["titleType"]} value="${selectItemData["inDataValue"]}">${selectItemData["inDataText"]}</${selectItemData["titleType"]}>
                            %endfor
                            </${item["dataType"]}>
                        %elif item["dataShowType"] == 'selectBriefAddress':
                            %for selectItem in item["select"]:
                                <%
                                selectItemData = item["select"][selectItem]
                                %>
                                %if "onchange" in selectItemData:
                                    <${selectItemData["titleType"]} id="${selectItemData["inDataID"]}"  name="${selectItemData["inDataID"]}" class="${selectItemData["inDataCss"]}" onchange="${selectItemData["onchange"]}" ></${selectItemData["titleType"]}>
                                %else:
                                    <${selectItemData["titleType"]} id="${selectItemData["inDataID"]}"  name="${selectItemData["inDataID"]}" class="${selectItemData["inDataCss"]}" ></${selectItemData["titleType"]}>
                                %endif
                            %endfor
                            <script type="text/javascript" language="javascript">
                                ${item["scriptFile"]}
                            </script>
                        %endif
                    %endif
                </td>
                <% break %>
            %endif
        %endfor
        <%
        configItem.pop(member)
        %>
    %endfor
</tr>
%endfor
</%call>


</form>
</body>
</html>
