<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://${localURL}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://${localURL}/static/css/docs.css" rel="stylesheet" media="screen">
    <title>
        投保单列表
    </title>
    <script src="http://${localURL}/static/js/jquery.js"></script>
    <script src="http://${localURL}/static/js/bootstrap.js"></script>
    <script src="http://${localURL}/static/js/My97DatePicker/WdatePicker.js"></script>
    <script src="http://${localURL}/static/js/util.js"></script>
    <script src="http://${localURL}/static/js/localGrpUsrList.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#btnSearch").click(function(){
                //默认只查询第1页
                submitSearch('1');
            });

            var myDate = new Date();
            currentDate = myDate.getFullYear() + "-" + (myDate.getMonth()+1)+"-"+myDate.getDate();
            nextDate = myDate.getFullYear() + "-" + (myDate.getMonth()+1)+"-"+(myDate.getDate()+1);
            %if startdt is None:
                jQuery("#idStartDT").val(currentDate);
            %endif
            %if enddt is None:
                jQuery("#idEndDT").val(nextDate);
            %endif
        });

        function showFastPrev(){
            submitSearch('1');
        }

        function showFastNext(pageCount){
            submitSearch(pageCount);
        }

        function showCurrent(pageIndex,pageCount){
            //alert(pageIndex);
            var intPageIndex = parseInt(pageIndex);
            var intPageCount = parseInt(pageCount);

            if (intPageIndex < 1){
                intPageIndex = 1;
            }

            if (intPageIndex > intPageCount){
                intPageIndex = intPageCount;
            }

            var localPageIndex = String(intPageIndex);
            submitSearch(localPageIndex);
        }


        function showPrev(pageIndex){
            //alert(pageIndex);
            var intPageIndex = parseInt(pageIndex);
            intPageIndex = intPageIndex - 1;

            if (intPageIndex < 1){
                intPageIndex = 1;
            }

            var localPageIndex = String(intPageIndex);
            submitSearch(localPageIndex);
        }

        function showNext(pageIndex,pageCount){
            var intPageIndex = parseInt(pageIndex);
            var intPageCount = parseInt(pageCount);
            intPageIndex = intPageIndex + 1;

            if (intPageIndex > intPageCount){
                intPageIndex = intPageCount;
            }
            var localPageIndex = String(intPageIndex);
            submitSearch(localPageIndex);
        }


        function submitSearch(pageIndex){
            grpid = jQuery("#idGrpValue").find("option:selected").text();
            crusr = jQuery("#idUsrValue").find("option:selected").text();
            contactid = jQuery("#idContactid").val();
            orderid = jQuery("#idOrderid").val();
            orderStatus = jQuery("#idDDLORDERSTATUS").val();
            startDt = jQuery("#idStartDT").val();
            endDt = jQuery("#idEndDT").val();

            //对于空值,不进行处理
            orderStatusText = jQuery("#idDDLORDERSTATUS").find("option:selected").text();
            if (orderStatusText == ""){
                orderStatus = "";
            }

            if ((grpid == '')&(crusr == '')&(contactid == '')&(orderid == '')&(startDt == '')&(endDt == '')){
                alert("请至少选择一个条件");
                return
            }

            searchOrder(grpid,crusr,contactid,orderid,orderStatus,startDt,endDt,pageIndex);
        }

        function setGrpid(inGrpid){
            //alert(inGrpid);
            var selectText = function(dropdown, selectedValue) {
                var options = $(dropdown).find("option");
                var matches = $.grep(options,
                        function(n) { return $(n).text() == selectedValue; });
                $(matches).attr("selected", "selected");
                return $(matches).val()
            };

            inGrpVal = selectText("#idGrpValue",inGrpid);
            //alert(inGrpVal);

            changevalGrpUsrIns(document.getElementById('idUsrValue'),inGrpVal);
        }

        function setCrusr(inCrusr){
            //alert(inCrusr);
            var selectText = function(dropdown, selectedValue) {
                var options = $(dropdown).find("option");
                var matches = $.grep(options,
                        function(n) { return $(n).text() == selectedValue; });
                $(matches).attr("selected", "selected");
                return $(matches).val()
            };

            inUsrVal = selectText("#idUsrValue",inCrusr);
        }

        function searchOrder(inGRPID,inCRUSR,inCONTACTID,inORDERID,inORDERSTATUS,inSTARTDT,inENDDT,inPAGEINDEX){
            //alert(inGRPID);
            actionUrl ="http://${localURL}/orderList"+'?GRPID='+inGRPID+'&CRUSR='+inCRUSR+'&CONTACTID='+inCONTACTID+"&ORDERID="+inORDERID+"&ORDERSTATUS="+inORDERSTATUS+"&STARTDT="+inSTARTDT+"&ENDDT="+inENDDT+"&PAGEINDEX="+inPAGEINDEX;
            //alert(actionUrl);
            window.location.href=actionUrl;
        }
        function showOrder(inContactid,inOrderid){
            actionUrl ="http://${localURL}/order/"+inContactid+'?orderid='+inOrderid;
            //alert(actionUrl);
            window.location.href=actionUrl;
        }

        //prepare group,user.
        var arrayGrpUsr= createGrpUsrList();

    </script>
##prepare the order info
<%!
import OrderClient
import json

import configData
from configData import getConfig

import configObjData
from configObjData import getConfigPage

configPage = getConfigPage()

import sys
reload(sys)
#convert the show code.
sys.setdefaultencoding('utf8')

localURL = getConfig('SERVERINFO','serverIP','str')
print localURL
%>
</head>
<body>
##TODO: 6 means 暂存订单
%if orderstatus != '6':
<div class="bs-docs-example">
    <form class="form-search">

        <table>
            <tr>
                <td>
                    <label class="label">团队</label>
                </td>
                <td>
                    <select id="idGrpValue" name="grpValue" class="input-medium" onchange="changevalGrpUsrIns(document.getElementById('idUsrValue'),this.value);//alert(options[this.value-1].text);"></select>

                </td>
                <td>
                    <label class="label" >TSR工号</label>
                </td>
                <td>
                    <select id="idUsrValue" name="usrValue" class="input-small" ></select>
                </td>
                <script type="text/javascript" language="javascript">
                    changevalGrpUsrIns(document.getElementById("idGrpValue"),0,1);
                </script>
                %if grpid is not None:
                <script type="text/javascript">
                    setGrpid("${grpid}");
                </script>
                %endif
                %if crusr is not None:
                <script type="text/javascript">
                    setCrusr("${crusr}");
                </script>
                %endif
            </tr>
            <tr>
                <td>
                    <label class="label">客户编号</label>
                </td>
                <td>
                   %if contactid is not None:
                        <input id="idContactid" type="text" class="input-small search-query" value="${contactid}"/>
                    %else:
                        <input id="idContactid" type="text" class="input-small search-query" />
                    %endif
                </td>
                <td>
                    <label class="label">保单编号</label>
                </td>
                <td>
                    %if orderid is not None:
                        <input id="idOrderid" type="text" class="input-small search-query" value="${orderid}"/>
                    %else:
                        <input id="idOrderid" type="text" class="input-small search-query" />
                    %endif
                </td>

                <td>
                    <label class="label">保单状态</label>
                </td>
                <%
                    item = configPage["SingleControl"]["OrderStatusSearch"]
                %>
                <%namespace name="comp" file="components.html" />
                <%
                    if orderstatus is not None:
                        realDataValue = orderstatus
                    else:
                        ## empty value
                        realDataValue = '0'
                %>
                ${comp.layoutControlDynamic(item=item,realDataValue = realDataValue,dataItem = None)}

                <td>
                    <label class="label">开始日期</label>
                </td>
                <td>
                    %if startdt is not None:
                        <input id="idStartDT" type="text" class="Wdate input-small search-query" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="${startdt}"/>
                    %else:
                        <input id="idStartDT" type="text" class="Wdate input-small search-query" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    %endif
                </td>
                <td>
                    <label class="label">结束日期</label>
                </td>
                <td>
                    %if enddt is not None:
                        <input id="idEndDT" type="text" class="Wdate input-small search-query" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="${enddt}"/>
                    %else:
                        <input id="idEndDT" type="text" class="Wdate input-small search-query" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    %endif
                </td>
            </tr>
        </table>
        <button id = "btnSearch" type="button" class="btn"><i class="icon-search"></i></button>
    </form>
</div>
%endif

<form id="formOrderList">
    <fieldset>
<%
if (grpid is not None)|(crusr is not None)|(contactid is not None)|(orderid is not None)|(startdt is not None)|(enddt  is not None)|(orderstatus is not None):
    localOrderInfoLst = OrderClient.getOrderInfoLst(grpid,crusr,contactid,orderid,startdt,enddt,orderstatus,pageindex)
    #如果没有保单信息,直接无视
    if len(localOrderInfoLst["OrderInfoLst"])==0:
        localOrderInfoLst = None
else:
    localOrderInfoLst = None
    print 'none query condition'
%>
<%def name="layoutdata(inOrderInfoLst)">
        <div class="bs-docs-div">
    <table class="table table-hover table-condensed">
        % if inOrderInfoLst is not None:
        <tr>
            <th>操作</th>
            <th>客户编号</th>
            <th>保单编号</th>
            <th>创建人</th>
            <th>创建日期</th>
            <th>保单状态</th>
        </tr>
            <%
        orderInfoLst = inOrderInfoLst["OrderInfoLst"]

        if len(orderInfoLst) == 0:
            orderInfoLst = None
            %>
            %if orderInfoLst is not None:
                % for item in orderInfoLst:
                    <tr>
                        <td>
                            <% orderid = item['OrderId'] %>
                            <% contactid = item['ContactId'] %>
                            <button type="button" class="btn" onclick="showOrder(${contactid},${orderid})">查询</button>
                        </td>
                        ${caller.body(item=item)}
                    </tr>
                % endfor
            %endif
        % endif
    </table>
        </div>
</%def>

<%call expr="layoutdata(localOrderInfoLst)" args="item">
    <td>${item["ContactId"]}</td>
    <td>${item["OrderId"]}</td>
    <td>${item["Crusr"]}</td>
    <td>${item["Crdt"]}</td>
    <td>${item["StatusDsc"]}</td>
</%call>
%if localOrderInfoLst is not None:
    %if len(localOrderInfoLst['PageManager']) > 0:
    <div>
    <table>
        <tr>
            <td>
                总共有:${localOrderInfoLst['PageManager']['DataCount']}条数据.
                <br>
                总共有:${localOrderInfoLst['PageManager']['PageCount']}页数据,每页显示${localOrderInfoLst['PageManager']['PageSize']}条,当前是第${localOrderInfoLst['PageManager']['PageIndex']}页.
                <br>
                <button id = "btnFastBackward" type="button" class="btn" onclick="showFastPrev()"><i class="icon-fast-backward"></i></button>
                <button id = "btnBackward" type="button" class="btn" onclick="showPrev(${localOrderInfoLst['PageManager']['PageIndex']})"><i class="icon-backward"></i></button>
                <button id = "btnForward" type="button" class="btn" onclick="showNext(${localOrderInfoLst['PageManager']['PageIndex']},${localOrderInfoLst['PageManager']['PageCount']})"><i class="icon-forward"></i></button>
                <button id = "btnFastForward" type="button" class="btn" onclick="showFastNext(${localOrderInfoLst['PageManager']['PageCount']})"><i class="icon-fast-forward"></i></button>
                <input id="idPageIndex" type="text" class="input-small" placeholder="去往页"/>
                <button id = "btnCurrent" type="button" class="btn" onclick="showCurrent(document.getElementById('idPageIndex').value,${localOrderInfoLst['PageManager']['PageCount']})"><i class="icon-arrow-right"></i></button>
            </td>
        </tr>
    </table>
    </div>
    %endif
%endif
</fieldset>
</form>
</body>
</html>
