<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../static/css/docs.css" rel="stylesheet" media="screen">
    <title>
        投保单
    </title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#btnModify").click(function(){
                alert(jQuery("#myModal"));
            });

            jQuery("#btnAdd").click(function(){
                showPostOrder();
            });


            jQuery("#btnConfirmAdd").click(function(){
                //TODO: add button change status .
                //jQuery("#myModal").modal("hide");
                postOrder('${contactid}');
            });
        });

        function showPostOrder(){
            if (check_submit())
            {
                jQuery("#myModal").modal("show");
            }
        }

        function postOrder(inContactid){
            if (check_submit())
            {
                document.getElementById("formOrder").action = "http://localhost:8080/order/"+inContactid;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putOrder(inContactid){
            if (check_submit())
            {
                inOrderid = $("lblOrderid").title;
                document.getElementById("formOrder").action = "http://localhost:8080/orderUpdate/"+inContactid+"/"+inOrderid;
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function putFixOrder(inContactid){
            if (check_submit())
            {
                inOrderid = $("lblOrderid").title;
                // '3' status means fix order.
                document.getElementById("formOrder").action = "http://localhost:8080/orderStatusUpdate/"+inContactid+"/"+inOrderid+"/"+'3';
                document.getElementById("formOrder").method = "POST";
                document.getElementById("formOrder").submit();
            }
        }

        function $(str){
            return (document.getElementById(str));
        }

        function check_submit(){
            if($("PolicyInformation1_txtName").value ==""){
                alert("投保人姓名不能为空!");
                return false;
            }
            if($("BePolicyHolder_txtBeHolderName").value ==""){
                alert("被保人姓名不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtHolderCardNumber").value ==""){
                alert("投保人证件不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtHolderCardNumber").value ==""){
                alert("投保人证件不能为空!");
                return false;
            }
            if($("BePolicyHolder_txtBeHolderCardNumber").value ==""){
                alert("被保人证件不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtPayMode").value ==""){
                alert("首期支付方式不能为空!");
                return false;
            }
            if($("PolicyInformation1_txtNum").value ==""){
                alert("购买份数不能为空!");
                return false;
            }
            return true;
        }

        function showDiv(divId){
            document.getElementById(divId).style.display="";
            //alert(document.getElementById("div").style.display)
        }
        function hiddenDiv(divId){
            document.getElementById(divId).style.display="none";
            //alert(document.getElementById("div").style.display)
        }
    </script>
    <%doc>
    ##test code.
    ## this is a comment.test for lookup.
    <% x = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 0 ]%>
    % for elem in x:
    element: ${elem}
    % endfor
</%doc>

##prepare the order info
##if has orderid ,show the data.
##if no orderid, show a blank file.
<%!
import OrderClient
import json
%>
<%
if orderid is not None:
    localOrderInfo = OrderClient.getOrderInfoOrder(orderid)
    beneficiarierelationdsc = localOrderInfo["BENEFICIARIERELATIONDSC"]
    deliveryaddress = localOrderInfo["DELIVERYADDRESS"]
    crusr = localOrderInfo["CRUSR"]
    insurant_usr_age = localOrderInfo["INSURANT_USR"]["AGE"]
    insurant_usr_name = localOrderInfo["INSURANT_USR"]["NAME"]
    insurant_usr_idcardno = localOrderInfo["INSURANT_USR"]["IDCARDNO"]
    policyholder_usr_age = localOrderInfo["POLICYHOLDER_USR"]["AGE"]
    policyholder_usr_name = localOrderInfo["POLICYHOLDER_USR"]["NAME"]
    policyholder_usr_idcardno = localOrderInfo["POLICYHOLDER_USR"]["IDCARDNO"]
    purchasecount = localOrderInfo["PURCHASECOUNT"]
    paymentstatus = localOrderInfo["PAYMENTSTATUS"]
    insuranceid = localOrderInfo["INSURANCEID"]
    status = localOrderInfo["STATUS"]
else:
    print 'none orderid'
    beneficiarierelationdsc = ''
    deliveryaddress = ''
    crusr = ''
    insurant_usr_age = ''
    insurant_usr_name = ''
    insurant_usr_idcardno = ''
    policyholder_usr_age = ''
    policyholder_usr_name = ''
    policyholder_usr_idcardno = ''
    purchasecount = ''
    paymentstatus = ''
    insuranceid = ''
%>
</head>


<body>

<form id="formOrder">

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"  href="#collapseOne">
                保单操作
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                % if orderid is not None:
                <label class="label label-info" id='lblOrderid' title="${orderid}">保单编号: ${orderid}</label>
                % if status is not None:
                <label class="label label-info" id='lblOrderStatus' title="${status}">保单状态: ${status}</label>
                %endif
                %endif
                <button type="button" class="btn btn-primary btn-small" id="btnAdd" data-toggle="modal">新增</button>
                % if orderid is not None:
                <button  type="button" class="btn btn-primary btn-small" id="btnModify">修改</button>
                % else:
                <button  type="button" class="btn btn-primary btn-small" id="btnModify" disabled="true" >修改</button>
                %endif
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">确认操作?</h3>
        </div>
        <div class="modal-body">
            <p>点击确认后数据将永久保存！</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="btnConfirmAdd" >确认</button>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                投保人信息
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
                <table class="table table-condensed">
                    <tr>
                        <td>
                            <label class="label label-important">姓名</label>
                        </td>
                        <td>
                            <input name="INSURANT_USR_NAME" id="PolicyInformation1_txtName" type="text" value="${insurant_usr_name}" class="input-mini"/>
                        </td>
                        <td>
                            <label class="label">性别</label>
                        </td>
                        <td>
                            <label class="radio">
                            <input name="optionsRadios" id="PolicyInformation1_rbtMan" checked type="radio"/><label class="label">男</label>
                            </label>
                            <label class="radio">
                            <input name="optionsRadios" id="PolicyInformation1_rbtWoman" type="radio"/><label class="label">女</label>
                            </label>
                        </td>
                        <td>
                            <label class="label">出生日期</label>
                        </td>
                        <td>
                            <input name="INSURANT_USR_BIRTHDAY" id="PolicyInformation1_txtBirthday" type="text" class="input-medium"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            年龄
                        </td>
                        <td>
                            <input name="INSURANT_USR_AGE" id="PolicyInformation1_txtHolderOldYears" type="text" value="${insurant_usr_age}"/>
                        </td>
                        <td>
                            职业
                        </td>
                        <td>
                            <SELECT name="INSURANT_USR_PROFESSION" id="PolicyInformation1_ddlProfessional">
                                <OPTION value="0">工程师</OPTION>
                                <OPTION value="1" selected>公务员</OPTION>
                            </SELECT>
                        </td>
                        <td>
                            联系电话
                        </td>
                        <td>
                            <input name="INSURANT_USR_PHONE" id="PolicyInformation1_txtHolderPhoneNumber"   type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            证件类型
                        </td>
                        <td>
                            <select name="INSURANT_USR_IDCARDTYPE" id="PolicyInformation1_sHolderCardType" style="width: 155px">
                                <option value="1" selected="selected">身份证</option>
                                <option value="2">军官证</option>
                            </select>
                        </td>
                        <td>
                            证件号码<span id="MainContent_UC_PolicyInformation1_Label18" style="color:Red;">*</span>

                        </td>
                        <td>
                            <input name="INSURANT_USR_IDCARDNO" id="PolicyInformation1_txtHolderCardNumber" type="text" value="${insurant_usr_idcardno}"/>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<div>被保人信息>></div>
<div id="div_POLICYHOLDER_USR">
    <table style="width: 720px">
        <tr>
            <td colspan="6">
                与投保人关系
                <input name="CARDID" type="text" id="PolicyInformation1_txtPolicyRelation"/>
            </td>
        </tr>
        <tr>
            <td style="width: 140px">
                姓名<span id="MainContent_UC_PolicyInformation1_Label1" style="color:Red;">*</span>
            </td>
            <td style="width: 100px">
                <input name="POLICYHOLDER_USR_NAME" id="BePolicyHolder_txtBeHolderName" type="text" value="${policyholder_usr_name}"/>
            </td>
            <td style="width: 125px">
                性别
            </td>
            <td style="width: 100px">
                <input name="rbtBeHolderSexMan" id="BePolicyHolder_rbtBeHolderSexMan" checked="checked" type="radio"/>男
                <input name="rbtBeHolderSexWoman" id="BePolicyHolder_rbtBeHolderSexWoman" type="radio"/>女
            </td>
            <td style="width: 125px">
                出生日期
            </td>
            <td style="width: 100px">
                <input name="POLICYHOLDER_USR_BIRTHDAY" id="BePolicyHolder_txtBeHolderBirthday" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                年龄
            </td>
            <td>
                <input name="POLICYHOLDER_USR_AGE" id="BePolicyHolder_txtBeHolderOldYears" type="text" value="${policyholder_usr_age}"/>
            </td>
            <td>
                职业
            </td>
            <td>
                <SELECT name="POLICYHOLDER_USR_PROFESSION" id="BePolicyHolder_ddlBeHolderProfessional">
                    <OPTION value="0">工程师</OPTION>
                    <OPTION value="1" selected>公务员</OPTION>
                </SELECT>
            </td>
            <td>
                联系电话
            </td>
            <td>
                <input name="POLICYHOLDER_USR_PHONE" id="BePolicyHolder_txtBeHolderPhoneNumber" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                证件类型
            </td>
            <td>
                <select name="POLICYHOLDER_USR_IDCARDTYPE" id="BePolicyHolder_selectBeHolderCardType" style="width: 155px">
                    <option value="1" selected="selected">身份证</option>
                    <option value="2">军官证</option>
                </select>
            </td>
            <td>
                证件号码<span id="MainContent_UC_PolicyInformation1_Label8" style="color:Red;">*</span>
            </td>
            <td>
                <input name="POLICYHOLDER_USR_IDCARDNO" id="BePolicyHolder_txtBeHolderCardNumber" type="text" value="${policyholder_usr_idcardno}"/>
            </td>
            <td>
            </td>
            <td align="right">
            </td>
        </tr>
    </table>
    <div style="border: solid 1px #ccc">
    </div>
</div>
<div>受益人>></div>
<div id="div_Lstbeneficiaries">
    <input id="rbtBeneficiaryLaw" name="rbtBeneficiaryLaw" value="1" type="radio" checked="checked" onclick="document.getElementById('rbtBeneficiaryEqual').checked = '';document.getElementById('rbtBeneficiaryWrite').checked = '';document.getElementById('rbtBeneficiaryRatio').checked = '';hiddenDiv('div_Lstbeneficiaries_Det');"/>法定
    <input id="rbtBeneficiaryEqual" name="rbtBeneficiaryEqual" value="2" type="radio" onclick="document.getElementById('rbtBeneficiaryLaw').checked = '';document.getElementById('rbtBeneficiaryWrite').checked = '';document.getElementById('rbtBeneficiaryRatio').checked = '';showDiv('div_Lstbeneficiaries_Det');"/>均分
    <input id="rbtBeneficiaryWrite" name="rbtBeneficiaryWrite" value="3" type="radio" onclick="document.getElementById('rbtBeneficiaryEqual').checked = '';document.getElementById('rbtBeneficiaryLaw').checked = '';document.getElementById('rbtBeneficiaryRatio').checked = ''; showDiv('div_Lstbeneficiaries_Det');"/>按填写顺位
    <input id="rbtBeneficiaryRatio" name="rbtBeneficiaryRatio" value="4" type="radio" onclick="document.getElementById('rbtBeneficiaryEqual').checked = '';document.getElementById('rbtBeneficiaryLaw').checked = '';document.getElementById('rbtBeneficiaryWrite').checked = ''; showDiv('div_Lstbeneficiaries_Det');"/>按比例<br/>
    <div id="div_Lstbeneficiaries_Det" style="display: none" >
    <table id="listBeneficiary">
        <tr>
            <td style="width: 140px">
                姓名
            </td>
            <td style="width: 100px">
                <input name="Lstbeneficiaries_NAME" id="Lstbeneficiaries_txtBeHolderName" type="text"/>
            </td>
            <td style="width: 125px">
                性别
            </td>
            <td style="width: 100px">
                <input name="rbtBeneficiarySexMan" id="Lstbeneficiaries_rbtBeHolderSexMan" checked="checked" type="radio"/>男
                <input name="rbtBeneficiarySexWoman" id="Lstbeneficiaries_rbtBeHolderSexWoman" type="radio"/>女
            </td>
            <td style="width: 125px">
                出生日期
            </td>
            <td style="width: 100px">
                <input name="Lstbeneficiaries_BIRTHDAY" id="Lstbeneficiaries_txtBeHolderBirthday" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                年龄
            </td>
            <td>
                <input name="Lstbeneficiaries_AGE" id="Lstbeneficiaries_txtBeHolderOldYears" type="text"/>
            </td>
            <td>
                职业
            </td>
            <td>
                <SELECT name="Lstbeneficiaries_PROFESSIONAL" id="Lstbeneficiaries_ddlBeHolderProfessional">
                    <OPTION value="0">工程师</OPTION>
                    <OPTION value="1" selected>公务员</OPTION>
                </SELECT>
            </td>
            <td>
                联系电话
            </td>
            <td>
                <input name="Lstbeneficiaries_PHONE" id="Lstbeneficiaries_txtBeHolderPhoneNumber" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                证件类型
            </td>
            <td>
                <select name="Lstbeneficiaries_IDCARDTYPE" id="Lstbeneficiaries_selectBeHolderCardType" style="width: 155px">
                    <option value="1" selected="selected">身份证</option>
                    <option value="2">军官证</option>
                </select>
            </td>
            <td>
                证件号码
            </td>
            <td>
                <input name="Lstbeneficiaries_IDCARDNO" id="Lstbeneficiaries_txtBeHolderCardNumber" type="text"/>
            </td>
            <td>
            </td>
            <td align="right">
            </td>
        </tr>
    </table>
    </div>
    <div style="border: solid 1px #ccc">
    </div>
</div>
<div>保险计划>></div>
<div id="div_InsuranceProduct">
    <table>
        <tr>
            <td>
                保单产品
            </td>
            <td>
                <SELECT id="ddlProduct" name="ddlProduct">
                    <OPTION value="0">如意通</OPTION>
                    <OPTION value="1" selected>通通通</OPTION>
                </SELECT>
            </td>
        </tr>
    </table>
</div>
<div id="div_InsurancePlan">
    <table>
        <tr>
            <td>
                首期支付方式<span id="MainContent_UC_PolicyInformation1_Label10" style="color:Red;">*</span>
            </td>
            <td>
                <input name="PAYMENTSTATUS" type="text" id="PolicyInformation1_txtPayMode" value="${paymentstatus}"/>
            </td>
            <td>
                续期支付方式
            </td>
            <td>
                <input name="DMPAYMODE" type="text" id="PolicyInformation1_txtPayContinuationPayMode"/>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                中支公司
            </td>
            <td>
                <input name="DMPAYCOMPANY" type="text" id="PolicyInformation1_txtPayCompany"/>
            </td>
            <td>
                开户银行
            </td>
            <td>
                <input name="txtPayBank" type="text" id="PolicyInformation1_txtPayBank"/>
            </td>
            <td>
                帐号
            </td>
            <td>
                <input name="DMPAYBANK" id="PolicyInformation1_txtBankCardNum" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                购买份数<span id="MainContent_UC_PolicyInformation1_Label15" style="color:Red;">*</span>
            </td>
            <td>
                <input name="PURCHASECOUNT" id="PolicyInformation1_txtNum" type="text" value="${purchasecount}"/>
            </td>
            <td>
                续费年限
            </td>
            <td>
                <input name="DMCONTINUATIONYEARS" type="text" id="PolicyInformation1_txtContinuationYears"/>
            </td>
            <td>
                缴费方式
            </td>
            <td>
                <input name="DMPAYTYPE" type="text" id="PolicyInformation1_txtPayType"/>
            </td>
        </tr>
        <tr>
            <td>
                保险期间
            </td>
            <td>
                <input name="DMPOLICYDATES" type="text" id="PolicyInformation1_txtPolicyDates"/>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div style="color:Red; font-weight:bold">总保费：</div>
            </td>
            <td>
            </td>
            <td>
                <div style="color:Green; font-weight:bold">总保额：</div>

            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                保费相关明细
            </td>
            <td colspan="5">
                <textarea id="TextArea3" cols="20" style=" width:100%" rows="2"></textarea>
            </td>
        </tr>
    </table>
    <div style="border: solid 1px #ccc">
    </div>
</div>
<div>保单配送>></div>
<div id="div_PolicyDistribution">
    <input id="btnDelivery" type="button" value="保存配送地址"/>
    <table>
        <tr>
            <td>
                <input id="PolicyDistribution_txtDistribution" type="radio" name="txtPolicyDistribution"/>配送地址1
            </td>
        </tr>
        <tr>
            <td>
                <input id="PolicyDistribution_txtDistributionOther" type="radio" name="txtPolicyDistribution"/>其它
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="TextArea4" cols="20" style=" width:70%" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                配送时间
            </td>
            <td>
                <input id="PolicyDistribution_txtDistributionTime" type="text" name="txtPolicyDistributionTime"/>
            </td>
        </tr>
    </table>
    <div style="border: solid 1px #ccc">
    </div>
</div>
<div>保单后续>></div>
<div>
    <table>
        <tr>
            <td>
                <input id="btnFix" type="button" value="保单承保" onclick="putFixOrder('${contactid}')"/>
            </td>
        </tr>
        <tr>
            <td>
                承保单号:
            </td>
            <td>
                <input id="aaa" name="INSURANCEID" type="text" value="${insuranceid}">
            </td>
        </tr>
     </table>
    <table>
        <tr>
            <td>
                <input id="btnQA" type="button" value="保单质检"/>
            </td>
        </tr>
        <tr>
            <td>
                录音编号:
            </td>
            <td>
                <input id="aaab" name="bbbb" type="text">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input id="btnGetMoney" type="button" value="保单收款"/>
            </td>
        </tr>
        <tr>
            <td>
                收款信息:
            </td>
            <td>
                <input id="aaac" name="bbbc" type="text">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input id="btnClose" type="button" value="保单退保"/>
            </td>
        </tr>
        <tr>
            <td>
                退保原因:
            </td>
            <td>
                <input id="aaad" name="bbbd" type="text">
            </td>
        </tr>
    </table>
</div>

</form>
</body>
</html>
