<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">

<%doc>
    ##using Mako to create html file.
</%doc>

##prepare the thirdeval info
##if has orderid ,show the data.
##if no orderid, show a blank file.
<%!
import json

import configObjData
from configObjData import getConfigPage

import configData
from configData import getConfig
#print getConfig.__doc__

configPage = getConfigPage()

localURL = getConfig('SERVERINFO','serverIP','str')

import sys
reload(sys)
#convert the show code.
sys.setdefaultencoding('utf8')

import copy
%>
<%
localOrderInfo = None
localThirdEval_Info = None

if queryDict is None:
    localOrderInfo = None
else:
    if orderid is not None:
        localOrderInfo = OrderClient.getOrderInfoOrder(orderid)
    else:
        localThirdEval_Info = OrderClient.getUsrInfoSource(queryDict)
        localOrderInfo = None
%>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://${localURL}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://${localURL}/static/css/docs.css" rel="stylesheet" media="screen">
    <title>
        第三方评估与乐尔之家评估等级登记表
    </title>
    <script src="http://${localURL}/static/js/jquery.js"></script>
    <script src="http://${localURL}/static/js/bootstrap.js"></script>
    <script src="http://${localURL}/static/js/My97DatePicker/WdatePicker.js"></script>
    <script src="http://${localURL}/static/js/util.js"></script>
    <script src="http://${localURL}/static/js/localAddressList.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            var selectText = function(dropdown, selectedValue) {
                var options = $(dropdown).find("option");
                var matches = $.grep(options,
                        function(n) { return $(n).text() == selectedValue; });
                $(matches).attr("selected", "selected");

            };
            //Do these when start page.

            //点击“清空”按钮.
            jQuery("#btnClear").click(function(){
                actionUrl ="http://${localURL}/order";
                //alert(actionUrl);
                window.location.href=actionUrl;
            });

            jQuery("#btnSave").click(function(){
                if ('${orderid}' != 'None')
                {
                    //have orderid, modify data.TODO:modify the logic.
                    postOrder();
                }
                else
                {
                    //no orderid, add data.
                    postOrder();
                }
            });

            function disableElements(el) {
                for (var i = 0; i < el.length; i++) {
                    el[i].disabled = true;

                    disableElements(el[i].children);
                }
            }

            function enableElements(el) {
                for (var i = 0; i < el.length; i++) {
                    el[i].disabled = false;

                    enableElements(el[i].children);
                }
            }
        });


        function postOrder(){
            if (check_submit())
            {
                //TODO: AJAX 异步提交
                document.getElementById("formOrder").action = "http://${localURL}/order/"+inContactid;
                document.getElementById("formOrder").method = "POST";
                //TODO: 不能这样提交,会造成多次提交
                //document.getElementById("formOrder").submit();
            }
             //jQuery("#btnConfirmAdd").show();
        }

        <%namespace name="comp" file="components.html" />
        ${comp.layoutOrderCheckSubmit(fName='check_submit')}

        function pickedFuncPolicyInformation1_txtHolderOldYears(){
            var myDate = new Date();
            jQuery("#PolicyInformation1_txtHolderOldYears").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYears(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYears").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYearsA(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYearsA").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYearsB(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYearsB").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncBePolicyHolder_txtBeHolderOldYearsC(){
            var myDate = new Date();
            jQuery("#BePolicyHolder_txtBeHolderOldYearsC").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        function pickedFuncLstbeneficiaries_txtBeHolderOldYears(){
            var myDate = new Date();
            jQuery("#Lstbeneficiaries_txtBeHolderOldYears").val(myDate.getFullYear()-$dp.cal.getP('y'));
        }

        //prepare province,city,area
		var arrayCity= createArrayCity();

    </script>

</head>

<body>

<form id="formOrder">

<div class="bs-docs-div-compress">
                <label class="label label-info label-large">第三方评估与乐尔之家评估等级登记表</label>
    <div>
                    % if orderid is not None:
                        <label class="label label-normal" >评估编号:</label>
                    % else:
                        <button type="button" class="btn btn-small" id="btnClear">清空</button>
                        <button type="button" class="btn btn-small" id="btnSave">保存</button>
                        <button type="button" class="btn btn-small" id="btnFix">提交</button>
                    %endif
   </div>
</div>

    %if configPage.as_bool('hasThird'):
    <div class="bs-docs-div-compress">
                <label class="label label-info label-large">第三方评估维度</label>
            <div>
                <table class="table table-normal table-condensed">
                    <%
                        configPagePolicyHolder_Usr = configPage['PolicyHolder_Usr']
                        configUsing =copy.deepcopy(configPagePolicyHolder_Usr)
                    %>
                    <%namespace name="comp" file="components.html" />
                    %if localThirdEval_Info is not None:
                        <%
                            print localThirdEval_Info
                        %>
                        ${comp.layoutControlList(configItem=configUsing,dataItem = localThirdEval_Info)}
                    %else:
                        <%
                            print localOrderInfo
                        %>
                        ${comp.layoutControlList(configItem=configUsing,dataItem = localOrderInfo)}
                    %endif

                </table>
            </div>
    </div>
    %endif

    %if configPage.as_bool('hasLeer'):
    <div class="bs-docs-div-compress">
                <label class="label label-info label-large">乐尔之家评估维度</label>
        <div>
                <table class="table table-normal table-condensed">
                    <%
                        configPageInsurantUsr = configPage['InsurantUsr']
                        configUsing =copy.deepcopy(configPageInsurantUsr)
                    %>
                    <%namespace name="comp" file="components.html" />
                    ${comp.layoutControlList(configItem=configUsing,dataItem = localOrderInfo)}
                </table>

                <div id="divInsurantUsrA" class="accordion-body collapse">
                    <div class="bs-docs-div-compress">
                        <table class="table table-normal table-condensed">
                            <%
                            configPageInsurantUsrA = configPage['InsurantUsrA']
                            configUsing =copy.deepcopy(configPageInsurantUsrA)
                            %>
                            <%namespace name="comp" file="components.html" />
                            ${comp.layoutControlList(configItem=configUsing,dataItem = localOrderInfo)}
                        </table>
                    </div>
                </div>
        </div>
    </div>
    %endif

</form>
</body>
</html>

